<div class="container welcome-container">
  <div class="row">
    <div class="col">
      <h1>Lab Rats</h1>
      <ul>
        <li>
          <p><%= link_to 'Intersection Observers', intersection_path %></p>
        </li>
        <li>
          <p><%= link_to 'Station 29 (Coming Soon)', coming_soon_path %></p>
        </li>
      </ul>
    </div>
  </div>
</div>