<script>
  // Add a global error event listener early on in the page load, to help ensure that browsers
  // which don't support specific functionality still end up displaying a meaningful message.
  window.addEventListener('error', function(error) {
    if (ChromeSamples && ChromeSamples.setStatus) {
      console.error(error);
      ChromeSamples.setStatus(error.message + ' (Your browser may not support this feature.)');
      error.preventDefault();
    }
  });
</script>

<script>
  var ChromeSamples = {
    log: function() {
      var line = Array.prototype.slice.call(arguments).map(function(argument) {
        return typeof argument === 'string' ? argument : JSON.stringify(argument);
      }).join(' ');

      document.querySelector('#log').textContent += line + '\n';
    },

    clearLog: function() {
      document.querySelector('#log').textContent = '';
    },

    setStatus: function(status) {
      document.querySelector('#status').textContent = status;
    },

    setContent: function(newContent) {
      var content = document.querySelector('#content');
      while(content.hasChildNodes()) {
        content.removeChild(content.lastChild);
      }
      content.appendChild(newContent);
    }
  };
</script>

<h3>Live Output</h3>
<div id="output" class="output">
  <div id="content">
<p>
  On browsers that support <code>IntersectionObserver</code>, you should see
  a list that loads additional items as you scroll down.
</p>
<div id="scroller">
  <div id="sentinel"></div>
</div>
</div>
  <div id="status"></div>
  <pre id="log"></pre>
</div>

<script>
/* global IntersectionObserver */
var scroller = document.querySelector('#scroller');
var sentinel = document.querySelector('#sentinel');
var counter = 1;

function loadItems(n) {
  for (var i = 0; i < n; i++) {
    var newItem = document.createElement('div');
    newItem.classList.add('item');
    newItem.textContent = 'Item ' + counter++;
    scroller.appendChild(newItem);
  }
}

var intersectionObserver = new IntersectionObserver(entries => {
  // If the browser is busy while scrolling happens, multiple entries can
  // accumulate between invocations of this callback. As long as any one
  // of the notifications reports the sentinel within the scrolling viewport,
  // we add more content.
  if (entries.some(entry => entry.intersectionRatio > 0)) {
    loadItems(10);
    // appendChild will move the existing element, so there is no need to
    // remove it first.
    scroller.appendChild(sentinel);
    loadItems(5);
    ChromeSamples.setStatus('Loaded up to item ' + counter);
  }
});
intersectionObserver.observe(sentinel);
</script>